{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/static/web/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in latest_post %}
                    {% include 'web/includes/web/post_preview.html' %}
                {% endfor %}
                <!-- Pager-->
                <div class=" justify-content-end mb-4">
                    {% if latest_post.has_previous %}
                        <a class="btn btn-primary text-uppercase"
                           href="{% url 'page' latest_post.previous_page_number %}">Newer
                            Posts
                            &larr;</a>
                    {% endif %}
                    {% if latest_post.has_next %}
                        <a class="btn btn-primary text-uppercase"
                           href="{% url 'page' latest_post.next_page_number %}">Older
                            Posts
                            →</a>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>
{% endblock %}